<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
  </head>
  <body>
    <a href="/new">Create New Message</a>

    <ul>
      <% messages.forEach((item)=>{%>
      <li><%=item.user %> %></li>
      <li><%=item.text %> %></li>
      <li><%=item.added %> %></li>
      <% });%>
    </ul>
  </body>
</html>
